sdcct-core/src/main/resources/META-INF/sdcct/wadl/FormManager.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <!--====================================================================================================
    = GRAMMARS
    =====================================================================================================-->
    <wadl:grammars>
        <wadl:include href="../schema/FHIR/fhir-single.xsd"/>
        <wadl:include href="../schema/FHIR/fhir-xhtml.xsd"/>
        <wadl:include href="../schema/FHIR/xml.xsd"/>
    </wadl:grammars>
    
    <!--====================================================================================================
    = RESOURCES
    =====================================================================================================-->
    <wadl:resources base="/fhir/FormManager">
        <wadl:resource path="/">
            <wadl:resource path="Questionnaire/{id}">
                <wadl:param name="id" style="template" type="fhir:id"/>
                <wadl:method name="GET">
                    <wadl:request>
                        <wadl:param name="_format" style="query" type="xsd:string"/>
                        <wadl:param name="_pretty" style="query" type="xsd:boolean"/>
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:representation mediaType="application/json+fhir" element="fhir:Questionnaire"/>
                        <wadl:representation mediaType="application/xml+fhir" element="fhir:Questionnaire"/>
                    </wadl:response>
                    <wadl:response>
                        <wadl:representation mediaType="application/json+fhir" element="fhir:OperationOutcome"/>
                        <wadl:representation mediaType="application/xml+fhir" element="fhir:OperationOutcome"/>
                    </wadl:response>
                </wadl:method>
            </wadl:resource>
        </wadl:resource>
    </wadl:resources>
</wadl:application>