sdcct-core/src/main/schema/SDC/SDCDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://healthIT.gov/sdc" xmlns="http://healthIT.gov/sdc">
    <xs:include schemaLocation="SDCBase.xsd"/>
    <xs:complexType name="anyType_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
                <xs:attribute name="schema" type="xs:string"/>
                <xs:attribute name="namespace" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Namespace used in an XML Schema file, if any, used to constrain and validate the the content of this field.  This is similar to the use of namespaces with the xs:any element in XML Schemas.

See: http://www.w3.org/TR/xmlschema-0/#any </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute processContents="lax"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="anyURI_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="length" type="xs:long"/>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
                <xs:attribute name="pattern" type="xs:string"/>
                <xs:attribute name="val" type="xs:anyURI"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="base64Binary_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute form="unqualified" name="mimeType" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>TBD: Must be a valid MIME type - needs
                    enumeration</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute form="unqualified" name="blobType" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of Blob if it does not have a @MIME_Type</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="length" type="xs:long"/>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
                <xs:attribute name="val" type="xs:base64Binary"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="boolean_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="val" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="byte_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:byte"/>
                <xs:attribute name="maxInclusive" type="xs:byte"/>
                <xs:attribute name="minExclusive" type="xs:byte"/>
                <xs:attribute name="maxExclusive" type="xs:byte"/>
                <xs:attribute name="totalDigits" type="xs:unsignedByte"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:byte"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="date_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:date"/>
                <xs:attribute name="maxInclusive" type="xs:date"/>
                <xs:attribute name="minExclusive" type="xs:date"/>
                <xs:attribute name="maxExclusive" type="xs:date"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:date"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dateTime_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:dateTime"/>
                <xs:attribute name="maxInclusive" type="xs:dateTime"/>
                <xs:attribute name="minExclusive" type="xs:dateTime"/>
                <xs:attribute name="maxExclusive" type="xs:dateTime"/>
                <xs:attribute name="pattern" type="xs:string"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:dateTime"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dateTimeStamp_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute ref="mask"/>
                <xs:attribute name="maxExclusive" type="xs:dateTime"/>
                <xs:attribute name="minExclusive" type="xs:dateTime"/>
                <xs:attribute name="maxInclusive" type="xs:dateTime"/>
                <xs:attribute name="minInclusive" type="xs:dateTime"/>
                <xs:attribute name="val" type="xs:dateTime"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dayTimeDuration_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute ref="mask"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute name="maxExclusive" type="xs:duration"/>
                <xs:attribute name="minExclusive" type="xs:duration"/>
                <xs:attribute name="maxInclusive" type="xs:duration"/>
                <xs:attribute name="minInclusive" type="xs:duration"/>
                <xs:attribute name="val" type="xs:duration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="decimal_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:decimal"/>
                <xs:attribute name="maxInclusive" type="xs:decimal"/>
                <xs:attribute name="minExclusive" type="xs:decimal"/>
                <xs:attribute name="maxExclusive" type="xs:decimal"/>
                <xs:attribute name="fractionDigits">
                    <xs:simpleType>
                        <xs:restriction base="xs:byte">
                            <xs:maxInclusive value="18"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="totalDigits" type="xs:integer"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:decimal"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="double_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:double"/>
                <xs:attribute name="maxInclusive" type="xs:double"/>
                <xs:attribute name="minExclusive" type="xs:double"/>
                <xs:attribute name="maxExclusive" type="xs:double"/>
                <xs:attribute name="fractionDigits">
                    <xs:simpleType>
                        <xs:restriction base="xs:byte">
                            <xs:maxInclusive value="18"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="totalDigits" type="xs:integer"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:double"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="duration_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:duration"/>
                <xs:attribute name="maxInclusive" type="xs:duration"/>
                <xs:attribute name="minExclusive" type="xs:duration"/>
                <xs:attribute name="maxExclusive" type="xs:duration"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:duration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="float_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:decimal"/>
                <xs:attribute name="maxInclusive" type="xs:float"/>
                <xs:attribute name="minExclusive" type="xs:float"/>
                <xs:attribute name="maxExclusive" type="xs:float"/>
                <xs:attribute name="fractionDigits">
                    <xs:simpleType>
                        <xs:restriction base="xs:byte">
                            <xs:maxInclusive value="18"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="totalDigits" type="xs:integer"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:float"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="gDay_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:gDay"/>
                <xs:attribute name="maxInclusive" type="xs:gDay"/>
                <xs:attribute name="minExclusive" type="xs:gDay"/>
                <xs:attribute name="maxExclusive" type="xs:gDay"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:gDay"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="gMonth_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:gMonth"/>
                <xs:attribute name="maxInclusive" type="xs:gMonth"/>
                <xs:attribute name="minExclusive" type="xs:gMonth"/>
                <xs:attribute name="maxExclusive" type="xs:gMonth"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:gMonth"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="gMonthDay_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:gMonthDay"/>
                <xs:attribute name="maxInclusive" type="xs:gMonthDay"/>
                <xs:attribute name="minExclusive" type="xs:gMonthDay"/>
                <xs:attribute name="maxExclusive" type="xs:gMonthDay"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:gMonthDay"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="gYear_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:gYear"/>
                <xs:attribute name="maxInclusive" type="xs:gYear"/>
                <xs:attribute name="minExclusive" type="xs:gYear"/>
                <xs:attribute name="maxExclusive" type="xs:gYear"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:gYear"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="gYearMonth_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:gYearMonth"/>
                <xs:attribute name="maxInclusive" type="xs:gYearMonth"/>
                <xs:attribute name="minExclusive" type="xs:gYearMonth"/>
                <xs:attribute name="maxExclusive" type="xs:gYearMonth"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:gYearMonth"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="hexBinary_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute form="unqualified" name="mimeType" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>TBD: Must be a valid MIME type - needs
                    enumeration</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute form="unqualified" name="blobType" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of Blob if it does not have a @MIME_Type</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="length" type="xs:long"/>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:hexBinary"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="HTML_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"
                        processContents="strict"/>
                </xs:sequence>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="int_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:int"/>
                <xs:attribute name="maxInclusive" type="xs:int"/>
                <xs:attribute name="minExclusive" type="xs:int"/>
                <xs:attribute name="maxExclusive" type="xs:int"/>
                <xs:attribute name="totalDigits" type="xs:positiveInteger"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="integer_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="totalDigits" type="xs:positiveInteger"/>
                <xs:attribute name="maxExclusive" type="xs:integer"/>
                <xs:attribute name="minExclusive" type="xs:integer"/>
                <xs:attribute name="maxInclusive" type="xs:integer"/>
                <xs:attribute name="minInclusive" type="xs:integer"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="long_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:long"/>
                <xs:attribute name="maxInclusive" type="xs:long"/>
                <xs:attribute name="minExclusive" type="xs:integer"/>
                <xs:attribute name="maxExclusive" type="xs:long"/>
                <xs:attribute name="totalDigits">
                    <xs:simpleType>
                        <xs:restriction base="xs:unsignedLong">
                            <xs:maxInclusive value="18446744073709551615"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:long"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="negativeInteger_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:negativeInteger"/>
                <xs:attribute name="maxInclusive" type="xs:negativeInteger"/>
                <xs:attribute name="minExclusive" type="xs:negativeInteger"/>
                <xs:attribute name="maxExclusive" type="xs:negativeInteger"/>
                <xs:attribute name="totalDigits" type="xs:positiveInteger"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="nonNegativeInteger_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:nonNegativeInteger"/>
                <xs:attribute name="maxInclusive" type="xs:nonNegativeInteger"/>
                <xs:attribute name="minExclusive" type="xs:nonNegativeInteger"/>
                <xs:attribute name="maxExclusive" type="xs:nonNegativeInteger"/>
                <xs:attribute name="totalDigits" type="xs:positiveInteger"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:nonNegativeInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="nonPositiveInteger_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:nonPositiveInteger"/>
                <xs:attribute name="maxInclusive" type="xs:nonPositiveInteger"/>
                <xs:attribute name="minExclusive" type="xs:nonPositiveInteger"/>
                <xs:attribute name="maxExclusive" type="xs:nonPositiveInteger"/>
                <xs:attribute form="unqualified" name="totalDigits" type="xs:positiveInteger"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:nonPositiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="positiveInteger_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:positiveInteger"/>
                <xs:attribute name="maxInclusive" type="xs:positiveInteger"/>
                <xs:attribute name="minExclusive" type="xs:positiveInteger"/>
                <xs:attribute name="maxExclusive" type="xs:positiveInteger"/>
                <xs:attribute name="totalDigits" type="xs:positiveInteger"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="short_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:short"/>
                <xs:attribute name="maxInclusive" type="xs:short"/>
                <xs:attribute name="minExclusive" type="xs:short"/>
                <xs:attribute name="maxExclusive" type="xs:short"/>
                <xs:attribute name="totalDigits" type="xs:unsignedShort"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:short"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="string_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="length" type="xs:long"/>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="pattern" type="xs:string"/>
                <xs:attribute name="val" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="time_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:time"/>
                <xs:attribute name="maxInclusive" type="xs:time"/>
                <xs:attribute name="minExclusive" type="xs:time"/>
                <xs:attribute name="maxExclusive" type="xs:time"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:time"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="unsignedByte_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:unsignedByte"/>
                <xs:attribute name="maxInclusive" type="xs:unsignedByte"/>
                <xs:attribute name="minExclusive" type="xs:unsignedByte"/>
                <xs:attribute name="maxExclusive" type="xs:unsignedByte"/>
                <xs:attribute name="totalDigits" type="xs:unsignedByte"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:unsignedByte"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="unsignedInt_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:unsignedInt"/>
                <xs:attribute name="maxInclusive" type="xs:unsignedInt"/>
                <xs:attribute name="minExclusive" type="xs:unsignedInt"/>
                <xs:attribute name="maxExclusive" type="xs:unsignedInt"/>
                <xs:attribute name="totalDigits" type="xs:unsignedInt"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:unsignedInt"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="unsignedLong_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:unsignedLong"/>
                <xs:attribute name="maxInclusive" type="xs:unsignedLong"/>
                <xs:attribute name="minExclusive" type="xs:unsignedLong"/>
                <xs:attribute name="maxExclusive" type="xs:unsignedLong"/>
                <xs:attribute name="totalDigits" type="xs:unsignedLong"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:unsignedLong"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="unsignedShort_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="totalDigits" type="xs:unsignedShort"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:unsignedShort"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XML_type">
        <xs:annotation>
            <xs:documentation>Not the real urType, but as close an approximation as we can get in the XML representation</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"
                        processContents="strict"/>
                </xs:sequence>
                <xs:attribute name="minLength" type="xs:long"/>
                <xs:attribute name="maxLength" type="xs:long"/>
                <xs:attribute name="schema" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="yearMonthDuration_type">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:attribute name="minInclusive" type="xs:duration"/>
                <xs:attribute name="maxInclusive" type="xs:duration"/>
                <xs:attribute name="minExclusive" type="xs:duration"/>
                <xs:attribute name="maxExclusive" type="xs:duration"/>
                <xs:attribute ref="quantModifier"/>
                <xs:attribute ref="mask"/>
                <xs:attribute name="val" type="xs:duration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attribute name="mask" type="xs:string"/>
    <xs:attribute default="EQ" name="quantModifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="EQ"/>
                <xs:enumeration value="GT"/>
                <xs:enumeration value="GTE"/>
                <xs:enumeration value="LT"/>
                <xs:enumeration value="LTE"/>
                <xs:enumeration value="APPROX"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
</xs:schema>
