sdcct-core/src/main/resources/META-INF/sdcct/schema/sdcct/sdcct-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="urn:sdcct:spring"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:sdcct="urn:sdcct:core"
    xmlns:sdcct-spring="urn:sdcct:spring"
    xmlns:tool="http://www.springframework.org/schema/tool"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <!--====================================================================================================
    = IMPORTS
    =====================================================================================================-->
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    
    <xsd:import namespace="http://www.springframework.org/schema/tool" schemaLocation="http://www.springframework.org/schema/tool/spring-tool.xsd"/>
    
    <xsd:import namespace="urn:sdcct:core" schemaLocation="urn:sdcct:core:sdcct.xsd"/>
    
    <!--====================================================================================================
    = ATTRIBUTE GROUPS
    =====================================================================================================-->
    <xsd:attributeGroup name="AbstractAttributes">
        <xsd:attribute name="abstract" type="xsd:boolean" default="false"/>
    </xsd:attributeGroup>
    
    <xsd:attributeGroup name="ParentAttributes">
        <xsd:attribute name="parent" type="sdcct:NotBlankString">
            <xsd:annotation>
                <xsd:documentation source="java:org.springframework.beans.factory.config.BeanDefinition"/>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    
    <xsd:attributeGroup name="RefAttributes">
        <xsd:attribute name="ref" type="sdcct:NotBlankString">
            <xsd:annotation>
                <xsd:documentation source="java:org.springframework.beans.factory.config.BeanDefinition"/>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <!--====================================================================================================
    = COMPLEX TYPES
    =====================================================================================================-->
    <xsd:complexType name="NormalizedStringType">
        <xsd:complexContent mixed="true">
            <xsd:extension base="beans:identifiedType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!--====================================================================================================
    = ELEMENTS
    =====================================================================================================-->
    <xsd:element name="normalized-string" type="sdcct-spring:NormalizedStringType">
        <xsd:annotation>
            <xsd:documentation source="java:org.springframework.beans.factory.config.BeanDefinition"/>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="java.lang.String"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>