sdcct-core/src/main/resources/META-INF/sdcct/schema/sdcct/sdcct-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="urn:sdcct:spring"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:sdcct="urn:sdcct:spring"
    xmlns:tool="http://www.springframework.org/schema/tool"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <!--====================================================================================================
    = IMPORTS
    =====================================================================================================-->
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    
    <xsd:import namespace="http://www.springframework.org/schema/tool" schemaLocation="http://www.springframework.org/schema/tool/spring-tool.xsd"/>
    
    <!--====================================================================================================
    = ATTRIBUTE GROUPS
    =====================================================================================================-->
    <xsd:attributeGroup name="AbstractAttributes">
        <xsd:attribute name="abstract" type="xsd:boolean" default="false"/>
    </xsd:attributeGroup>
    
    <xsd:attributeGroup name="ParentAttributes">
        <xsd:attribute name="parent" type="sdcct:NotBlankString"/>
    </xsd:attributeGroup>
    
    <!--====================================================================================================
    = SIMPLE TYPES
    =====================================================================================================-->
    <xsd:simpleType name="NormalizedString">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NotBlankString">
        <xsd:restriction base="sdcct:NormalizedString">
            <xsd:pattern value=".*[^\s]+.*"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>